﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Product Information Managment</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/common.css" />
	@await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/index">P.I.M.</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1" id="main-menu">
                        <li class="nav-item">
                            <a class="nav-link @(ViewData["ActiveNavLink"].ToString() == "products" ? "active" : "")" asp-area="" asp-page="/products">Товары</a>
                        </li>
						<li class="nav-item">
                            <a class="nav-link @(ViewData["ActiveNavLink"].ToString() == "attributes" ? "active" : "")" asp-area="" asp-page="/attributes">Атрибуты</a>
                        </li>
						<li class="nav-item">
                            <a class="nav-link @(ViewData["ActiveNavLink"].ToString() == "categories" ? "active" : "")" asp-area="" asp-page="/categories">Категории</a>
                        </li>
						<li class="nav-item">
                            <a class="nav-link @(ViewData["ActiveNavLink"].ToString() == "brands" ? "active" : "")" asp-area="" asp-page="/brands">Бренды</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Product Information Managment
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/common.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
