@page
@model AttributesModel
@{
    ViewData["Title"] = "Атрибуты";
    ViewData["ActiveNavLink"] = "attributes";
}
@section Styles {
    <link rel="stylesheet" href="~/css/attributes.css" />
}

<div class="text-center">
    <h1>Cтраница с атрибутами</h1>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/attributes.js"></script>
}