@page
@model BrandsModel
@{
    ViewData["Title"] = "Бренды";
    ViewData["ActiveNavLink"] = "brands";
}
@section Styles {
    <link rel="stylesheet" href="~/css/brands.css" />
}

<div class="text-center">
    <h1>Cтраница с брендами</h1>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/brands.js"></script>
}