@page
@model CategoriesModel
@{
    ViewData["Title"] = "Категории";
    ViewData["ActiveNavLink"] = "categories";
}
@section Styles {
    <link rel="stylesheet" href="~/css/categories.css" />
}

<div class="text-center">
    <h1>Cтраница с категориями</h1>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/categories.js"></script>
}