@page
@model ProductsModel
@{
    ViewData["Title"] = "Товары";
    ViewData["ActiveNavLink"] = "products";
}
@section Styles {
    <link rel="stylesheet" href="~/css/products.css" />
}

<div class="text-center">
    <h1>Cтраница с товарами</h1>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/products.js"></script>
}